body {
	background-color: #eff0f1;
}
img {
	width: 100%;
	height: 100%;
}
.shadow {
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
	background-color: white;
	padding: 0;
}
.block {
	padding: 10px;
}
figcaption {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #fefefe;
	background: #ffffff;
	color: #000000;
	transition: opacity ease 400ms;
	-webkit-transition: opacity ease 400ms;
	-moz-transition: opacity ease 400ms;
	opacity:0;
	font-size: 16px;
	position: absolute;
	padding: 15px;
	top: 0;
	left: 0;
}
figcaption:hover {
	opacity:0.9;
}
.block-title {
	text-align: center;
	padding-bottom: 15px;
}
a {
	color: black;
}
a:hover {
    	color: white;
    	text-decoration: none;
}
.title {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}